@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* CSS Variables */
:root {
  --primary-color: #b90415;
  --primary-color-hover: #d3071b;
  --secondary-color: #103063;
  --secondary-color-hover: #143f85;
  --light-color: #f4f4f4;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #252529;
  margin: 0;
  color: #fff;
  line-height: 1.6;
}

img {
  width: 100%;
}


a {
  text-decoration: none;
  color: #ccc;
}

/* Section */
.section {
  padding: 2rem 0;
}

.section-head {
  font-size: 2.5rem;
  margin: 0;
}

.section h3 {
  font-size: 2rem;
}

section#entertainment {
  background: url('images/bg2.jpg') no-repeat bottom/cover;
  padding: 10rem 0;
}

.gift-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

/* Showcase */
#showcase {
  margin: 0;
  padding: 0;
  background: url('images/bg1.jpg') no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  color: rgb(222, 184, 135);
}

#showcase .container {
  margin-top: 25vh;
}

#showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

#showcase h2 {
  font-size: 2rem;
}

/* Footer */
footer .footer-cols {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  text-align: left;
  font-size: 14px;
}

footer .footer-cols ul {
  list-style: none;
}

footer .footer-cols ul li:first-child {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: #444 solid 1px;
  margin-bottom: 1rem;
}

footer .footer-bottom {
  background: #333;
  padding: 1rem;
}

/* Utility Classes */
.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.lead {
  font-size: 1.3rem;
}

.text-center {
  text-align: center;
}

/* Buttons */
.btn {
  padding: 1rem;
  color: #fff;
  display: inline-block;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-primary:hover {
  background: var(--primary-color-hover);
}

.btn-secondary {
  background: var(--secondary-color);
}

.btn-secondary:hover {
  background: var(--secondary-color-hover);
}

/* Text colors */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-light {
  color: var(--light-color);
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}

/* FORM STYLES */
#mailing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}


#submit{
  background: wheat;
  color: black;
  border-radius: 10%;
}
/* FORM STYLES END */

/* Slider start*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev{
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Slider end */

/* Navigation */
nav {
  height: 40px;
  width: 100%;
  background-color: #333;
  color: #eee;
  position: fixed;
  z-index:1;
}
nav ul {
  padding: 0;
  margin: 0;
  display: flex;
}
nav li {
  display: inline;
  float: right;
  flex-direction: row;
  flex-wrap: nowrap;
}
nav a {
  display: inline-block;
  width: 200px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0 0 10px;
  color: #eee;
  text-decoration: none;
}
nav li:hover {
  background-color: #444;
}

nav a#openup {
  display: none;
}


@media screen and (max-width: 580px) {
  .hide-on-small {
    display: none;
  }

  #showcase {
    height: 50vh;
  }

  #showcase .container {
    margin-top: 15vh;
  }

  #showcase h1 {
    font-size: 3rem;
  }

  #showcase h2 {
    font-size: 1.5rem;
  }

  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #333;
    border-bottom: 1px solid #555;
  }
  nav a:hover {
    background: #444;
  }

  nav a#openup:after {
    content: '|||';
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #333;
    width: 100%;
    position: relative;
  }
}
.cf:before,
.cf:after {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}



@media screen and (max-width: 780px) {
  .gift-cards {
    grid-template-columns: 1fr;
  }

  footer .footer-cols {
    display: none;
  }
}

@media screen and (max-height: 580px) {
  #showcase p.lead {
    display: none;
  }
}

/* catalog  STARTS*/
.production{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  list-style-type: none;
}

.list{
  text-align: center;
  flex: 1 0 0;
  flex-shrink: 1;
  width: 20%;
  margin: 5px;
  flex-basis: auto;
}

.align-self {
  align-self: center;
  flex: 0 0 auto;
  object-fit: contain;
}
/* catalog ENDS */